canvas {
  background: #222;
}

.flex {
  display: flex;
  /* justify-content: space-around; */
  margin-right: 1rem;
  margin-bottom: .5rem;
}
.flex > :nth-child(even) {
  margin: 0 1rem;
}
