<section>
  <header>JS Automation</header>
  <div>
    <button (click)="startRecording()">Start Recording</button>
    <input type="file" class="file-input"
    (change)="onFileSelected($event)" #fileUpload>
  </div>

  <br />
  <section style="display:flex;">
    <section>
      <!-- <canvas id="my-canvas" width="720" height="1334" #myCanvas></canvas> -->
      <canvas id="my-canvas" width="240" height="480" #myCanvas></canvas>

    </section>

    <section>
      <video autoplay controls></video>
      <!-- <video
      id="player"
      #player
      width="720"
      height="1334"
      autoplay
      controls
      ></video> -->
    </section>

  </section>
</section>