<section>
  <header>JS Automation</header>
  <div>
    <button (click)="startRecording()">Start Recording</button>
    <input
      type="file"
      class="file-input"
      (change)="onFileSelected($event)"
      #fileUpload
    />

    <div>
      <input placeholder="Width" [(ngModel)]="canvasWidth">
      <input placeholder="height" [(ngModel)]="canvasHeight">
    </div>
  </div>

  <br />
  <section style="display:flex;">
    <section>
      <canvas id="my-canvas" [width]="canvasWidth" [height]="canvasHeight" #myCanvas></canvas>
    </section>

    <section>
      <video
        id="player"
        #player
        [width]="canvasWidth"
        [height]="canvasHeight"
        autoplay
        controls
      ></video>
    </section>
  </section>
</section>
