<section>
  <header>JS Automation</header>
  <div>
    <div class="flex">
      <div>
        <button (click)="startRecording()">Start Recording</button>
      </div>
      <div>
        <input
          type="file"
          class="file-input"
          (change)="onFileSelected($event)"
          #fileUpload
        />
      </div>
    </div>

    <div class="flex">
      <div>
        <label>Width</label>
        <input placeholder="Width" [(ngModel)]="canvasWidth" />
      </div>
      <div>
        <label>Height</label>
        <input placeholder="height" [(ngModel)]="canvasHeight" />
      </div>
      <div>
        <label>Video Time</label>
        <input placeholder="videoTime" [(ngModel)]="videoTime" />
      </div>
      <div>
        <label>Image Block Size</label>
        <input placeholder="imageBloackSize" [(ngModel)]="imageBloackSize" />
      </div>
    </div>

    <div class="flex">
      <div>
        <label>Font Size</label>
        <input placeholder="fontSize" [(ngModel)]="fontSize" />
      </div>
      <div>
        <label>Text On Top</label>
        <input placeholder="textOnTop" [(ngModel)]="textOnTop" />
      </div>
      <div>
        <label>Text On Bottom</label>
        <input placeholder="textOnBottom" [(ngModel)]="textOnBottom" />
      </div>
    </div>
  </div>

  <br />
  <section class="flex">
    <section>
      <canvas hidden
        id="hiddenCanvas"
        [width]="50"
        [height]="50"
        #hiddenCanvas
      ></canvas>
      <canvas
        id="my-canvas"
        [width]="canvasWidth"
        [height]="canvasHeight"
        #myCanvas
      ></canvas>
      
    </section>

    <section>
      <video hidden
        id="player"
        #player
        [width]="canvasWidth"
        [height]="canvasHeight"
        autoplay
        controls
      ></video>
    </section>
  </section>
</section>
